<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sophie Zheng">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Sophie Zheng Blog</title>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .left {
        padding-inline-end:0;
      }

      .right {
        padding-inline-start:0;
      }

      .h-img {
         height: 40vh; !important;
      }

      a.icon_color {
        color: #212529;
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">
    <div class="mb-4 bg-light">
      <div class="container-fluid py-5" style="background-image: url(<%= asset_path 'waves3.png' %>); height: 30vh">
        <h1 class="display-5 fw-bold">Hey, I'm Sophie Zheng</h1>
        <p class="col-md-8 fs-4"> <a class='icon_color' href='/articles'> A data scientist, yogi and surfer </a></p>
        <p class="col-md-8 fs-4">
          <a class='icon icon_color'href="https://github.com/SophieZheng"><i class="bi bi-github"></i></a> 
          <a class='icon icon_color'href="https://www.linkedin.com/in/baimin-sophie-zheng/"><i class="bi bi-linkedin"></i></a> 
          <a class='icon icon_color'href="https://www.instagram.com/YogaSophieZh/"><i class="bi bi-instagram"></i></a> 
          <a class='icon icon_color'href="bmzheng@ymail.com"><i class="bi bi-envelope"></i></a>
        </p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-3 left">
        <div class="h-img p-5 text-white bg-dark">
          <h2>Data</h2>
          <p>I love data. I am fascinated by probability and statistics. They are powerful tools to explore and adapt your life in style.</p>
        </div>
      </div>
      <div class="col-md-9 right">
        <div class="h-img p-5 bg-light border"  style="background-image: url(<%= asset_path 'linkedin.png' %>); background-size: cover">
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-9 left">
        <div class="h-img p-5 bg-light border" style="background-image: url(<%= asset_path 'yoga.png' %>); background-size: cover">
        </div>
      </div>
      <div class="col-md-3 right">
        <div class="h-img p-5 text-white bg-dark">
          <h2>Yoga</h2>
          <p>Yoga amazed me when I found myself doing arm balance poses. Yoga taught me so much about mindfulness, Ying and Yang, and moderation.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-3 left">
        <div class="h-img p-5 text-white bg-dark">
          <h2>Surfing</h2
          <p>Still Learning... I love ocean! I feel free when I am on a surfbaord.</p>
        </div>
      </div>
      <div class="col-md-9 right">
        <div class="h-img p-5 bg-light border" style="background-image: url(<%= asset_path 'surfboard.jpg' %>); background-size: cover">
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>
</main>


    
  </body>
</html>
